<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="CFDbContext" connectionString="Data Source=|DataDirectory|ControleFinanceiro.sdf" providerName="System.Data.SqlServerCe.4.0" />

    <!--<add name="CFDbContext"
           connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|ControleFinanceiro.mdf;User Instance=true"
           providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>